@define-color menu_bg_color @panel_normal_bg_color;
@define-color bg_color @startup_menu_color;
@define-color border_color @bg_color;
@define-color slider_color @startup_slider_color;
@define-color slider_bg_color @startup_slider_background_color;

#EventBox {
background-color: @menu_bg_color;
font-size: 13px;
color: #ffffff;
}
#ViewportNull {
background-color: transparent;
border-color: transparent;
font-size: 13px;
color: #ffffff;
}
#ViewportButton {
background-color: @bg_color;
color: #ffffff;
border-width: 1px;
border-style: solid;
border-radius: 0px;
border-left-color: @menu_bg_color;
border-right-color: @bg_color;
border-top-color: @menu_bg_color;
border-bottom-color: @menu_bg_color;
font-size: 13px;
}
#Viewport {
padding: 0px 0px;
color: #ffffff;
border-style: solid;
border-radius: 0px;
border-color: @bg_color;
border-width: 0px;
font-size: 13px;
}
#Viewport2 {
border-color: @bg_color;
}
#Viewport1 {
padding: 0px 0px;
background-color: @bg_color;
color: #ffffff;
border-width: 0px;
border-style: solid;
border-radius: 0px;
font-size: 13px;
}
#ViewportEntry {
padding: 0px 0px;
border-radius: 0px;
border-width: 0px;
border-color: #ffffff;
font-size: 13px;
}
#ViewportPower {
border-width: 0px;
border-style: solid;
border-radius: 0px;
font-size: 13px;
}
#ViewportPowerEnter {
background-color: black;
border-width: 0px;
border-style: solid;
border-radius: 0px;
font-size: 13px;
}
#ButtonUser {
padding: 0px 0px;
background-color: @bg_color;
border-width: 0px;
background-image: none;
border-color: shade(@border_color, 1.2);
-gtk-icon-shadow: none;
}
#ButtonUser:hover {
background-color: shade(@bg_color, 1.4);
}
#Button {
border: 0px solid transparent;
border-radius: 0px;
background-color: transparent;
color: #ffffff;
font-size: 13px;
}
#Button:hover {
border-width: 0px;
background-image: none;
background-color: @bg_color;
text-shadow: none;
-gtk-icon-shadow: none;
}
#Button:active {
border-radius: 0px;
border-width: 0px;
border-image-source: none;
}
#ButtonPower {
min-width: 18px;
padding: 0px 0px;
background-color: @bg_color;
color: #ffffff;
border-width: 0px;
font-size: 13px;
}
#ButtonPower:hover {
background-color: shade(@bg_color, 1.4);
background-image: none;
border: 0px transparent;
text-shadow: none;
-gtk-icon-shadow: none;
}
#ButtonPower:active {
background-color: #daebfc;
background-image: none;
border: 0px transparent;
}
#ButtonApp {
padding: 2px 2px;
border-radius: 0px;
border-width: 0px;
background-color: transparent;
color: #ffffff;
font-size: 13px;
}
#ButtonApp:hover {
border-radius: 0px;
background-image: none;
background-color: shade(@bg_color, 1.4);
border-color: shade(@border_color, 1.5);
border-width: 0px;
border-image-source: none;
text-shadow: none;
-gtk-icon-shadow: none;
}
#ButtonApp:hover:focus {
border-radius: 0px;
border-width: 0px;
background-image: none;
background-color: #daebfc;
}
#ButtonAppHover {
padding: 2px 2px;
border-radius: 0px;
background-image: none;
background-color: shade(@bg_color, 1.8);
border-color: shade(@border_color, 1.8);
border-width: 0px;
border-image-source: none;
font-size: 13px;
text-shadow: none;
color: #ffffff;
-gtk-icon-shadow: none;
}
#ButtonApp:active {
border-radius: 0px;
border-width: 0px;
background-image: none;
background-color: shade(@bg_color, 1.8);
}
#ButtonApp:disabled {
color: #ffffff;
text-shadow: none;
border-width: 0px;
background-color: shade(@bg_color, 1.8);
text-shadow: none;
-gtk-icon-shadow: none;
}
#ButtonApp:active:hover {
border-radius: 0px;
border-width: 0px;
background-image: none;
border-image-source: none;
background-color: shade(@bg_color, 1.8);
}
#Entry {
border-radius: 0px;
border-color: #ffffff;
border-width: 0px;
padding: 0px 0px;
background-color: #ffffff;
color: #999999; 
font-size: 13px;
}
#EntryActive {
border-radius: 0px;
border-width: 0px;
padding: 0px 0px;
border-color: #ffffff;
background-color: #ffffff;
color: #000000;
font-size: 13px;
}
tooltip,
tooltip.background,
.tooltip,
.tooltip.background {
    padding: 4px;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    color: #ffffff;
    text-shadow: none;
}
scrollbar {
    border: 0px solid shade(@border_color, 1.3);
}
scrollbar trough {
    min-height: 13px;
    min-width: 13px; 
    background-color: @slider_bg_color; 
}
scrollbar trough slider {
    min-height: 13px;
    min-width: 13px; 
    background-color: @slider_color;
}      
scrollbar trough slider:hover {
    background-color: @slider_color; 
}
scrollbar trough slider:active {
    background-color: shade(@slider_bg_color, 1.3); 
}
scrollbar button {
    min-height: 13px;
    min-width: 13px; 
    background-image: image(@slider_bg_color);
    color: #ffffff;
}
scrollbar button:hover {
    background-image: image(@slider_color);
}
#Button label:disabled {
    color: #ffffff;
    text-shadow: none;
    box-shadow: none;
}
#ButtonApplet {
padding: 0px 0px 0px 0px;
border: 0px transparent;
border-radius: 0px;
background-image: none;
background-color: transparent;
box-shadow:none;
-gtk-icon-shadow: none;
}
#ButtonApplet:hover {
-gtk-icon-shadow: 1px 1px black;
-gtk-icon-effect: highlight;
background-color: @bg_color;
}
#ButtonClicked {
padding: 0px 0px 0px 0px;
border: 0px transparent;
border-radius: 0px;
background-image: none;
background-color: @bg_color;
box-shadow: none;
-gtk-icon-shadow: none;
}
#ButtonClicked:hover {
-gtk-icon-shadow: 1px 1px black;
-gtk-icon-effect: highlight;
}
#myGtkLabel {
background-color: @bg_color;
color: #ffffff;
opacity: 0.8;
}
menuitem:hover {
background-color: shade(@bg_color, 1.8);
}
