[Desktop Entry]
Name=ukui-menu
comment=ukui-menu
Comment[zh_CN]=开始菜单
Comment[tr_TR]=Başlangıç menüsü
Exec=/usr/bin/ukui-menu
Terminal=false
Type=Application
Icon=ukui-menu
X-UKUI-AutoRestart=true
OnlyShowIn=UKUI
X-UKUI-Autostart-Phase=Application
NoDisplay=true
